{% include head.html %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7J7C39"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="logo-header">
  <div id="first-name">ALEXANDRE</div>
  <div id="last-name">CAYLA</div>
  <div id="tagline" class="d-flex align-items-center">
    <div>
      Digital product <span class="accent">development</span> <br> and growth
    </div>
  </div>
</div>


<div class="container mt-4">

  <div class="main-nav">
    <div class="main-nav-item" id="bio">Bio</div>

    <div class="d-flex">
      <div><a href="/projects" class="main-nav-item">Projects</a></div>
      <div><a href="/posts" class="main-nav-item">Writings</a></div>
      <div><a href="/contact" class="main-nav-item" data-analytics-action="get-in-touch" data-analytics-label="nav-home">Get in touch</a></div>
    </div>

  </div>
</div>

<div class="container">
  <div id="home-line">
    <div id="line" class="container"></div>
    <div id="arrow-down"></div>
  </div>
</div>
