@font-face {
  font-family: 'Akzidenz Light';
  src: url('/assets/fonts/AkzidenzGrotesk-Light.otf');
  font-weight: light;
}

@font-face {
  font-family: 'Akzidenz Light Condensed';
  src: url('/assets/fonts/AkzidenzGrotesk-LightCond.otf');
  font-weight: light-condensed;
}

@font-face {
  font-family: 'Akzidenz Italic';
  src: url('/assets/fonts/AkzidenzGrotesk-Italic.otf');
  font-weight: italic;
}

@font-face {
  font-family: 'Akzidenz Light Italic';
  src: url('/assets/fonts/AkzidenzGrotesk-LightItalic.otf');
  font-weight: light-italic;
}


@font-face {
  font-family: 'Akzidenz Condensed';
  src: url('/assets/fonts/AkzidenzGrotesk-Cond.otf');
  font-weight: condensed;
}

@font-face {
  font-family: 'Akzidenz Medium Condensed';
  src: url('/assets/fonts/AkzidenzGrotesk-MediumCond.otf');
  font-weight: medium-condensed;
}


@font-face {
  font-family: 'Akzidenz Bold';
  src: url('/assets/fonts/AkzidenzGrotesk-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Akzidenz Bold Condensed';
  src: url('/assets/fonts/AkzidenzGrotesk-BoldCond.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Akzidenz Extra Bold Condensed';
  src: url('/assets/fonts/AkzidenzGrotesk-ExtraBoldCond.otf');
  font-weight: extra-bold;
}

// Font variables

$heading-font: "Akzidenz Extra Bold Condensed";
$secondary-heading-font: 'Akzidenz Bold Condensed';

$nav-font: 'Akzidenz Light Condensed';
$quote-font: 'Akzidenz Light Italic';

$medium-condensed: Akzidenz Medium Condensed;

$cta-font: 'Akzidenz Condensed';

/* custom vars */
$custom-font-size: 20px;
$homepage-font: 1.25rem;

