@import './fonts';
@import './colours';

.post-content{
  background-color: $white;
  border-radius: 3px;
  padding: 1rem;
  font-size: $custom-font-size;
  padding: 2rem;
}

.post-title{
  font-size: calc(2rem + 3vw);
  line-height: 0.5;
}


.post-image {
  width: 250px;
}
