{% include head.html %}

<div class="logo-header">
  <div id="first-name">ALEXANDRE</div>
  <div id="last-name">CAYLA</div>
  <div id="tagline">
    <div>
      Digital product <span style="color:#cbfe07;">development</span> <br> and growth
    </div>
  </div>
</div>


<div id="nav-home" class="container-fluid">
  <div>
    <a href="/projects">Projects</a>
    <a href="/blog">Writing</a>
    <a href="/contact" class="active">Get in touch</a>
  </div>
</div>

<section class="me">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="/assets/moi.png" alt="Alexandre Cayla" class="img-fluid img-test">
        </div>
        <div class="col-8 d-flex align-items-end">
          <div>
            {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="product-dev-header">
  <div class="container">
      <h2 id="development">{{'Product Development' | upcase}} </h2>
  </div>
</div>

<section id="services" class="container-fluid">
  <div class="container">

    <!-- <div class="row"> -->

      {{site.services | where: 'name', 'dev-intro'}}

      {% assign development_services = site.services | where: 'category', 'development' | sort: 'order'%}

      {% for service in development_services %}
        <h3>{{ service.name | capitalize }}</h3>

        <p>{{service.content}}</p>

        <h4>What you get</h4>
        {% assign deliverables = site.deliverables | where: 'services', service.name | sort: 'order' %}

        <div class="delibs my-4">

          {% for deliverable in deliverables%}
            <div class="card-deliverable">
              <div class="card card-body">
                <div><strong>{{deliverable.name | capitalize}}</strong></div>
                <div>{{deliverable.description}}</div>
              </div>
            </div>
          {%endfor%}

        </div>

      {% endfor%}
  </div>
</section>


<!-- Product growth -->
<div id="product-growth-header">
  <div class="container">
    <h2 id="growth">{{'Product Growth' | upcase}}</h2>
  </div>
</div>
<section class="container-fluid">
  <div class="container">


    {{site.services | where: 'name', 'growth-intro'}}

    {% assign growth_services = site.services | where: 'category', 'growth'%}

      {% for service in growth_services %}

        <h3>{{ service.name | capitalize }}</h3>

          <p>{{service.content}}</p>

        <h4>What you get</h4>
        {% assign deliverables = site.deliverables | where: 'services', service.name | sort: 'order' %}

        <div class="delibs my-4">

          {% for deliverable in deliverables%}
            <div class="card-deliverable">
              <div class="card card-body">
                <div><strong>{{deliverable.name | capitalize}}</strong></div>
                <div>{{deliverable.description}}</div>
              </div>
            </div>
          {%endfor%}

        </div>
      {% endfor%}

  </div>
</section>

<section class="container my-4">
  <div class="btn btn-primary">Get in touch</div>
</section>


{% include footer.html %}
