
{% include header-home.html %}

<!-- me -->

<section class="me">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-7 d-flex align-items-end">
          <div>
            {{content}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-5" id="img-home">
          <img src="/assets/moi.png" alt="Alexandre Cayla" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Product development -->

<div class="container-fluid" id="product-dev-header-background">
  <div class="container" id="product-dev-header">
        <h2 id="development">{{'Product Development' | upcase}}</h2>
        <div class="heading-outline"><h2>{{'Product Development' | upcase}}</h2></div>
  </div>
</div>

<section id="services-dev" class="container-fluid services">
  <div class="container">

    <!-- <div class="row"> -->

      {{site.services | where: 'name', 'dev-intro'}}

      {% assign development_services = site.services | where: 'category', 'development' | sort: 'order'%}

      {% for service in development_services %}
        <h3>{{ service.name | upcase }}</h3>

        <p>{{service.content}}</p>

        <h4>{{ 'What you get' | upcase }}</h4>
        {% assign deliverables = site.deliverables | where: 'services', service.name | sort: 'order' %}

        <div class="delibs mb-4">

          {% for deliverable in deliverables%}
            <div class="card-custom card-deliverable">
              <div class="card-deliverable-header">
                <h5 class="card-custom-heading">{{deliverable.name | capitalize}}</h5>
              </div>
              <div class="card-deliverable-body">
                <div>{{deliverable.description}}</div>
              </div>
            </div>
          {%endfor%}

        </div>

      {% endfor%}
  </div>
</section>


{% include praises.html%}


<!-- Product growth -->

<div class="container-fluid" id="product-growth-header-background">
  <div class="container" id="product-growth-header">
      <h2 id="growth">{{'Product growth' | upcase}}</h2>
      <div class="heading-outline"><h2>{{'Product growth' | upcase}}</h2></div>
  </div>
</div>

<section class="container-fluid services">
  <div class="container">


    {{site.services | where: 'name', 'growth-intro'}}

    {% assign growth_services = site.services | where: 'category', 'growth'%}

      {% for service in growth_services %}
        <h3>{{ service.name | upcase }}</h3>

        <p>{{service.content}}</p>

        <h4>{{ 'What you get' | upcase }}</h4>
        {% assign deliverables = site.deliverables | where: 'services', service.name | sort: 'order' %}

        <div class="delibs mb-4">

          {% for deliverable in deliverables%}
            <div class="card-custom card-deliverable">
              <div class="card-deliverable-header">
                <h5 class="card-custom-heading">{{deliverable.name | capitalize}}</h5>
              </div>
              <div class="card-deliverable-body">
                <div>{{deliverable.description}}</div>
              </div>
            </div>
          {%endfor%}

        </div>

      {% endfor%}

  </div>
</section>

<section class="container my-4">

  <div class="cta">
    <p class="ready">Ready?</p>
    <div>
      <a href="/contact" class="btn btn-custom px-4">Get in touch</a>
    </div>
  </div>

</section>


{% include footer.html %}
