<!doctype html>
<html>
    <head>
        {%- include head.html -%}
    </head>

    <body>
      <section class="hero">

        <div id="presentation">
          <div class="center-text">
            <h1>Alexandre Cayla</h1>
            <h2>Product development and growth</h2>

            <div class="nav-links">
              <a>Projects</a>
              <a>Writings</a>
              <a>Testimonials</a>
              <a>Get in touch</a>
            </div>
          </div>

        </div>

        <div id="image">
          <img src="{{site.baseurl}}/assets/moi2.jpg" alt="">
        </div>

      </section>

        <section class="me">
          <div class="container">
            {{content}}
          </div>
        </section>

        <section class="container">
          <h2>Services</h2>

          {% for deliverable in site.data.deliverables %}
            <h3>{{ deliverable.name }}</h3>
          {% endfor %}


          {% for service in site.data.services %}
            <h2>{{ service.name }} - {{ service.category }}</h2>
            <!-- <p>{{ service.content | markdownify }}</p> -->
          {% endfor %}
        </section>

    </body>
</html>
